<!DOCTYPE html>
<html lang="en">
    <head>
<<<<<<< HEAD
        <title>BEER FINDER</title>
=======
        <title>Beer Finder</title>
>>>>>>> b99aa00afdd5509acc5a8e7814cbea4c2d19b825
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<<<<<<< HEAD
        <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

=======
        <link rel="stylesheet" href="/style" type="text/css">
>>>>>>> b99aa00afdd5509acc5a8e7814cbea4c2d19b825

    </head>
    <body>
        {{{ body }}}
    </body>

<<<<<<< HEAD
    <script>

function cambiar_login() {
  document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";  
document.querySelector('.cont_form_login').style.display = "block";
document.querySelector('.cont_form_sign_up').style.opacity = "0";               

setTimeout(function(){  document.querySelector('.cont_form_login').style.opacity = "1"; },400);  
  
setTimeout(function(){    
document.querySelector('.cont_form_sign_up').style.display = "none";
},200);  
  }

function cambiar_sign_up(at) {
  document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
  document.querySelector('.cont_form_sign_up').style.display = "block";
document.querySelector('.cont_form_login').style.opacity = "0";
  
setTimeout(function(){  document.querySelector('.cont_form_sign_up').style.opacity = "1";
},100);  

setTimeout(function(){   document.querySelector('.cont_form_login').style.display = "none";
},400);  


}    



function ocultar_login_sign_up() {

document.querySelector('.cont_forms').className = "cont_forms";  
document.querySelector('.cont_form_sign_up').style.opacity = "0";               
document.querySelector('.cont_form_login').style.opacity = "0"; 

setTimeout(function(){
document.querySelector('.cont_form_sign_up').style.display = "none";
document.querySelector('.cont_form_login').style.display = "none";
},500);  
  
  }

//     $("#submit").on("click", function(event) {
//       event.preventDefault();
//       console.log("got the click on this end");
//       // Question: What does this code do??
//       $.post("/login", inputEmail)
//       .done(function(data) {
//         console.log(data);
//         console.log("Adding user");
//       });
// });

</script>
=======

    <script>

        function cambiar_login() {
          document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";  
        document.querySelector('.cont_form_login').style.display = "block";
        document.querySelector('.cont_form_sign_up').style.opacity = "0";               

        setTimeout(function(){  document.querySelector('.cont_form_login').style.opacity = "1"; },400);  
          
        setTimeout(function(){    
        document.querySelector('.cont_form_sign_up').style.display = "none";
        },200);  
          }

        function cambiar_sign_up(at) {
          document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
          document.querySelector('.cont_form_sign_up').style.display = "block";
        document.querySelector('.cont_form_login').style.opacity = "0";
          
        setTimeout(function(){  document.querySelector('.cont_form_sign_up').style.opacity = "1";
        },100);  

        setTimeout(function(){   document.querySelector('.cont_form_login').style.display = "none";
        },400);  


        }    



        function ocultar_login_sign_up() {

        document.querySelector('.cont_forms').className = "cont_forms";  
        document.querySelector('.cont_form_sign_up').style.opacity = "0";               
        document.querySelector('.cont_form_login').style.opacity = "0"; 

        setTimeout(function(){
        document.querySelector('.cont_form_sign_up').style.display = "none";
        document.querySelector('.cont_form_login').style.display = "none";
        },500);  
          
          }

        //     $("#submit").on("click", function(event) {
        //       event.preventDefault();
        //       console.log("got the click on this end");
        //       // Question: What does this code do??
        //       $.post("/login", inputEmail)
        //       .done(function(data) {
        //         console.log(data);
        //         console.log("Adding user");
        //       });
        // });
    </script>



>>>>>>> b99aa00afdd5509acc5a8e7814cbea4c2d19b825
</html>