<div class="container">
	<h1></h1>

	<div class= "row row-offcanvas row-offcanvas-right">

		<div class="col-xs-12 col-sm-9">
			<p class="pull-right visible-xs"></p>

			<div class="jumbotron">
				<h1>BEERS!</h1>
				<p>The beer of the day is...</p>
			</div>

				<div class="row">

	<!-- 			BEER ROW!
	 -->			
					<div class="col-xs-6 col-lg-4">
						<h2>Beer 1</h2>
						<p>
							<a class="btn btn-default" href="#" role="button"> View Details>
							</a>
						</p>
					</div>

					<div class="col-xs-6 col-lg-4">
						<h2>Beer 2</h2>
						<p>
							<a class="btn btn-default" href="#" role="button"> View Details>
							</a>
						</p>
					</div>

					<div class="col-xs-6 col-lg-4">
						<h2>Beer 3</h2>
						<p>
							<a class="btn btn-default" href="#" role="button"> View Details>
							</a>
						</p>
					</div>

					<div class="col-xs-6 col-lg-4">
						<h2>Beer 4</h2>
						<p>
							<a class="btn btn-default" href="#" role="button"> View Details>
							</a>
						</p>
					</div>

					<div class="col-xs-6 col-lg-4">
						<h2>Beer 5</h2>
						<p>
							<a class="btn btn-default" href="#" role="button"> View Details>
							</a>
						</p>
					</div>

					<div class="col-xs-6 col-lg-4">
						<h2>Beer 6</h2>
						<p>
							<a class="btn btn-default" href="#" role="button"> View Details>
							</a>
						</p>
					</div>

				</div>
			</div>

			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			
				<div class="list-group">

					<a href="#" class="list-group-item warning">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
				</div>
			</div>
	</div>


</div>



